<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
    function loadXMLDoc()
{
  var xmlhttp;
  if (window.XMLHttpRequest)
  {
    // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
    xmlhttp=new XMLHttpRequest();
  }
  else
  {
    // IE6, IE5 浏览器执行代码
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function()
  {
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
      document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
      console.log(xmlhttp.responseText);
    }
  }
  xmlhttp.open("POST","http://localhost:7777/new/2b/",true);
  xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
  var orderValue = document.getElementById('order-status').value;
  xmlhttp.send("type="+orderValue);
}

</script>
</head>
<body>
    <div class="test"></div>
    <h1>{{name}}</h1>
<form  class="field" name="test">
     B端数据名称：
     <select name="type" id="order-status">
         <option value="1">单个订单待付款</option>
         <option value="2">单个订单待提车(采购单待采购)</option>
         <option value="3">整版订单待付款</option>
         <option value="4">整版订单待提车(采购单待采购)</option>
         <option value="5">审核单待审核</option>
         <option value="6">采购单采购完成</option>
      </select>
    <button type="button"  onclick="loadXMLDoc()" >创建数据</button>
</form>
<div id="myDiv"></div>
<!-- https://www.pexels.com/photo/beautiful-view-of-moraine-lake-2662116/ -->

</body>
</html>